name = "base10-proxy"
main = "build/worker/shim.mjs"
ccompatibility_flags = [ "nodejs_compat" ]
compatibility_date = "2024-09-23"

[build]
command = "cargo install -q worker-build && worker-build --release"

[ai]
binding = "AI"

[observability]
[observability.logs]
enabled = true
invocation_logs = true