[package]
name = "flow-worker"
version = "0.2.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
worker = "0.7.4"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
base64 = "0.22"
